<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="tschallacka_magestorm_create_model" xsi:type="object">
                    Tschallacka\MageStorm\Console\Command\CreateModel
                </item>
                <item name="tschallacka_magestorm_test_model" xsi:type="object">
                    Tschallacka\MageStorm\Console\Command\TestModel
                </item>
            </argument>
        </arguments>
    </type>
</config>
